:root {
    --font-primary: "Manrope", serif;
    --font-secondary: "Noto Serif", sans-serif;

    /* type scale */
    --text-xxs: 0.6875em;
    --text-xs: 0.8125em;
    --text-sm: 0.875em;
    --text-md: 1em;
    --text-lg: 1.125em;
    --text-xl: 1.5em;
    --text-xxl: 1.875em;
    --text-xxxl: 3.125em;
    --text-xxxxl: 3.5em;
    --text-xxxxxl: 5em;

    /* font weights */
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-secondary);
    font-weight: bold;
    color: var(--color-text-headings);
}

button, a, p {
    font-family: var(--font-primary);
    color: var(--color-text);
}

a {
    text-decoration: none;
}

h1 {
    font-size: var(--text-xxxxxl);
    color: var(--color-accent);
    line-height: 80px;
}

// h2 {
//     font-size: var(--text-xxxxxl);
// }

h3 {
    font-size: var(--text-xxxxl);
}

p {
    font-size: var(--text-lg);
}

@media only screen and (max-width: 600px){
    :root {
        /* type scale */
        --text-xxs: 0.6875em;
        --text-xs: 0.8125em;
        --text-sm: 0.875em;
        --text-md: 1em;
        --text-lg: 1.125em;
        --text-xl: 1.5em;
        --text-xxl: 1.875em;
        --text-xxxl: 2.125em;
        --text-xxxxl: 2.5em;
        --text-xxxxxl: 3em;
    }

    h1 {
        line-height: 55px;
    }
}

@media (min-width:600px) and (max-width:1100px) {
    :root {
        --text-xxxxxl: 3em;
    }

    h1 {
        line-height: 65px;
    }
}